@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins";
}
h1,
h2,
h3,
h4 {
  text-align: center;
  color: #ef7d00;
}

img {
  margin-bottom: 40px;
}
label {
  color: #662483;
}
.pMdp{
  margin-left: 35px;
}
.eltParent {
  margin: 2em;
  display: flex;
  justify-content: center;
}
.eltFilsMdp {
  display: grid;
  justify-content: center;
}
.titreStyleMdp {
  color: #ef7d00;
  font-size: 185%;
  text-align: center;
  margin-bottom: 1.75em;
}
.eyeWrapper {
  float: left;
  display: inline;
  position: relative;
  top: -4ex;
  left: 70%;
  margin-bottom: -2em;
  cursor: pointer;
}
.eye2Wrapper {
  float: left;
  display: inline;
  position: relative;
  top: -4ex;
  left: 70%;
  cursor: pointer;
}
